.idea
.vscode

api/.env
api/media

# Logs
api/logs
api/*.log

# Frontend ignores
frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist
frontend/.npmrc
frontend/node_modules
frontend/.env

# Misc
.DS_Store