$color-black: #000000;
$color-white: #ffffff;
$color-grey: #efefef;

$color-primary-blue: #0065ff;
$color-secondary-blue: #1981ffa6;
$color-primary-light-blue: #08c7d0ab;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;

$font-primary: "Futura", sans-serif;